/* All */
* {
    margin: 0;
    padding: 0;
}
/* All end */

/* Navbar */
.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

/* Navbar end*/

/* Home */
.logo{
    background-image: url('assets/hoohacklogo3.png');
    background-size:contain;
    background-color: white;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 65vh;
}

.header-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 35vh;
    background-color: #5B8865;
    align-items: center;
    color: white;
}

.quotes{
    background-color: #1D6C6C;
    align-items: center;
    color: white;
    height: 40vh;
}

.quotes h2 {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

.annual1 {
    background-color: #5C7B51;
    align-items: center;
    color: white;
    height: 40vh;
}

.annual2 {
    background-image: url('assets/test.jpg');
    opacity: 0.7;
    background-size:cover;
    align-items: center;
    background-color: white;
    color: white;
    padding: 15px;
}


.weekly1{
    background-color: #4AA4B8;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly2{
    background-color: #496A9B;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly3{
    background-color: #015460;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quotes-end{
    background-color: #519F6C;
    align-items: center;
    color: white;
    height: 40vh;
}

.quotes-end h3 {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

.contact-us{
    background-color: white;
    height: 20vh;
    padding: 50px 0 150px 0;
    font-style: italic;
    font-family:'Courier New', Courier, monospace;
}

.github-img {
    width: 40px;
    
}

.footer {
    background-color: gray;
    height: 15vh;
    align-items:end;
    color: white;
    font-family:'Courier New', Courier, monospace;
}

/* Home end */


/* Yearly / annual page */
.yearly1{
    background-color: #BFBFFF;
    align-items: center;
    color: white;
    height: 40vh;
}

.yearly2{
    background-color: #A3A3FF;
    align-items: center;
    color: white;
    height: 20vh;
}

.yearly3{
    background-color: #7879FF;
    align-items: center;
    color: white;
    height: 20vh;
}

.yearly3 a { 
    color: inherit; 
} 

.yearly4{
    background-color: #4949FF;
    align-items: center;
    color: white;
    height: 20vh;
}

.yearly4 a { 
    color: inherit; 
} 

/* Yearly / annual page end*/

/* Weekly page */
.weekly-menu1{
    background-color: #1D3D3B;
    align-items: center;
    color: white;
    height: 40vh;
}

.table th {
    padding: 20px;
}

.table td {
    padding: 20px;
}

.weekly-page1{
    background-color: #254F4C;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-page2{
    background-color: #2A5956;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-page3{
    background-color: #316764;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-page4{
    background-color: #497F76;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-page5{
    background-color: #609687;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-page6{
    background-color: #78AE99;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weekly-page7{
    background-color: #8FC5AA;
    align-items: center;
    color: white;
    height: 30vh;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Weekly page end*/

/* Monthly page*/
.monthly-analysis1{
    background-color: #1D3D3B;
    align-items: center;
    color: white;
    height: 40vh;
}

.monthly-analysis2{
    background-color: #497F76;
    align-items: center;
    color: white;
    height: 20vh;
}

.monthly-analysis3{
    background-color: #609687;
    align-items: center;
    color: white;
    height: 20vh;
}

.divchart{
    padding-top: 30px;
    align-items: center;
}

.chartpie {
    position: relative; 
    height:55vh;
}
/* Monthly page end*/