* {
    margin: 0;
    padding: 0;
}


.logo{
    background-image: url('assets/hoohacklogo3.png');
    background-size:contain;
    background-color: white;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    height: 70vh;
}

.header-text{
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 25vh;
    background-color: #5B8865;
    align-items: center;
    color: white;
    padding: 10px;
}

.quotes{
    background-color: #1D6C6C;
    align-items: center;
    color: white;
    height: 40vh;
}

.quotes h2 {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}